<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
</head>
<body>
    <nav>
        <a href="/challenges/all">ALL CHALLENGES</a> |
        <!-- expand if statement to include other links -->
        <% if (user) { %>
            <a href="/challenges">MY CHALLENGES</a> |
            <a href="/attempts">MY ATTEMPTS</a> |
            <a href="/preferences">USER SETTINGS</a> |
            <a href="/logout">LOGOUT</a>
        <% } else { %>
            <a href="/auth/google">LOGIN</a>
        <% } %>
    </nav>
    <main>
        <h1><%= title %></h1>
