<%- include('./partials/header.ejs') %>

<p>Welcome to <%= title %> A place to post your digital quandaries and challenges. A place to be challenged. A place to be quandaried. Wait... That's not a thing – being quandaried.</p> 
<p>Whatever. Enjoy this little playground. Go challenge yourself – get stuck, then UnStuck.</p>

<%- include('./partials/footer.ejs') %>
