<%- include('../partials/header.ejs') %>

<form action="/challenges/" method="POST">
    <label>Title</label>
    <input type="text" name="title"><br>
    <label id="submit-gist">The Gist</label>
    <input type="text" name="gist" maxlength="150"><br>
    <label>Detailed Description</label>
    <textarea name="details" placeholder="Be precise. Be nice."></textarea><br>
    <input class="button-primary" type="submit" value="Add Challenge">
</form>

<%- include('../partials/footer.ejs') %>